* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1em;
    background: linear-gradient(180deg, #FFF9E4 0%, #EEEED8 100%);
    display: flex;
    justify-content: space-around;
    color: #2f2c48;
}

.instructions {
    font-size: 0.8em;
    color: #aaa;
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.card {
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    padding-bottom: 16px;
}

.card header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
    padding: 16px;
}

.card header h1 {
    margin: 0;
}

.card header .button-as-link {
    margin-right: 1em;
}

.card aside {
    padding-left: 16px;
    padding-right: 16px;
}

.card_body {
    display: flex;
}

.card_right-column {
    padding-right: 16px;
}

.tileset-container {
    position: relative;
}

.tileset-container_selection {
    position: absolute;
    outline: 3px solid cyan;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
}

.layers {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.within-layers{
    display: flex !important;
    justify-content: left !important;
}

.layers button {
    appearance: none;
    font-family: inherit;
    outline: 0;
    background: transparent;
    border: 0;
    padding: 8px 0;
    display: flex;
    width: 15%;
    text-align: left;
    cursor: pointer;
}

.layers button.active {
    font-weight: bold;
    color: #0884f1;
}

.button-as-link {
    appearance: none;
    text-decoration: underline;
    background: transparent;
    color: #7f808e;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.primary-button {
    border: 0;
    background: #4e84fa;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #3166c7;
    color: #fff;
    border-radius: 6px;
    outline: 0;
    padding: 6px 16px;
    cursor: pointer;
}

label {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-weight: bold;
    display: block;
}


/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  width: 100%;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.slider {
    width: 50px;
    height: 25px;
    border-radius: 12px;
    background-color: #ddd;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.slider.on {
    background-color: #4caf50;
}

.slider-button {
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    transition: transform 0.3s ease;
}

.slider.on .slider-button {
    transform: translateX(25px);
}

.pen-icon{
    visibility: hidden;
}

.layers .active {
    visibility: visible !important;
}

.grid {
    background-image:
      repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 32px 32px;
}